<div class="jumbotron">
	<div class="container">
		<div class="home-text">
		<h2 id="home">Keep track of everything you want for Christmas.</h2>
		<p id="home">An easy wishlist app.</p>
		<br>
		<%= link_to 'View Wishlist', lists_url, class: "btn btn-primary btn-lg" %>
		</div>
	</div>
</div>
			
		