<div class="jumbotron">
	<div class="container">
		<div class="home-text">
		<h2>Keep track of everything you want for Christmas.</h2>
		<p id="home">An easy wishlist app.</p>
		</div>
	</div>
</div>
			
		