
<div class="container">
	<div class="panel panel-default" id="new">
		<div class="panel-heading">
			<h3 id="new">New Item</h3>
		</div>
 		 <div class="panel-body">
			<%= render 'form' %>
		</div>
	</div>
</div>
	

