/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body, html {
    padding:0!important; 
    margin:0;
 }

body {
	font-family: 'Source Sans Pro', 'Helvetica', sans-serif;
}

.navbar {
	width: 70%;
}

.navbar-brand {
	font-weight: bold;
}

.navbar-brand:hover {
	font-size: 18px;
}

h1 {
	color: #fff;
}



.jumbotron {
  background: url(https://images.unsplash.com/photo-1447690709975-318628b14c57?ixlib=rb-0.3.5&q=80&fm=jpg) no-repeat 50% 50% fixed; 
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  padding: 4% 0;
}


.jumbotron p {
	font-size: 14px;
}

.container {
	width: 70%;
}

#body {
	margin-bottom: 10%;
}


.caption {
	text-align: center;
}

.thumbnail {
	background-color: rgba(255, 255, 255, 0.7);
	border: none;
}

.home-text {
	padding: 15% 0;
}

p#home {
	font-size: 30px;
	padding-top: -50px;
	color: #fff;
	font-weight: 300;
}

h2 {
	font-weight: 700;
}

h2#home {
	top: -15;
	color: #fff;
	font-size: 45px;
	font-weight: 700;
	}

.btn-primary {
	font-size: 14px;
	background-color: red;
	border: red;
}

.btn:hover {
	background-color: green;
}


.sort strong, p, a, #top {
	color: #000;
	font-size: 14px;
	text-decoration: none;
}

.sort a:hover {
	font-weight: 700;
	text-decoration: none;
	color: #000;
}

.sortbox {
	background-color: rgba(255, 255, 255, 0.7);
	width: 67%;
	padding-top: 15px;
	padding-bottom: 5px;
	margin: 20px;
	position: relative;
	border-radius: 5px;
}


.field {
	color: #fff;
}

.panel#new {
	width: 100%;
}

.panel#show {
	width: 70%;
}

.panel-body {
	padding: 2% 5%;
}

.panel {
	width: 90%;
}

h3#new {
	padding: 2%;
}

.footer {
background-color: #1a1a1a;
    
    
    bottom: 0;
    position: fixed;
    width: 100%;
}

.footer p {
	color: #fff;
	height: 20px;
	vertical-align: middle ;
	 
	padding: 7%;
}